<!DOCTYPE html>
<html>
<head>
  <title>Processador de Dados</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    .col-example {
      padding: 1rem;
      border: 2px solid #fff;
      text-align: center;
    }  
  </style>
</head>
<body>
	<div class="container justify-content-center">                                       
		<form id="form-demo" onsubmit="return false">
			<div class="container my-4">
				<div>
					<div>
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-body">
										<h2>Processador de Dados</h2>
										<p>Selecione o arquivo csv que deseja fazer ETL</p>
										<input type="file" id="file" name="file"><br><br>
										<button type="submit" id="button-send" class="btn btn-primary">Enviar e Processar</button>
									</div>	
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-body">
										<h2>Relatórios</h2>
										<p>Execute o botão para exibir os dados da tabela person</p>
										<button type="submit" id="button-rel-person" class="btn btn-primary">Person</button>
										<button type="submit" id="button-rel-customer" class="btn btn-primary">Customer</button>
										<button type="submit" id="button-rel-SpecialOfferProduct" class="btn btn-primary">SpecialOfferProduct</button>
										<button type="submit" id="button-rel-Product" class="btn btn-primary">Product</button>
										<button type="submit" id="button-rel-SalesOrderHeader" class="btn btn-primary">SalesOrderHeader</button>
										<button type="submit" id="button-rel-SalesOrderDetail" class="btn btn-primary">SalesOrderDetail</button>
									</div>	
								</div>	
							</div>	
						</div>
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-body">
										<h2>Limpar Base</h2>
										<p>Execute o botão para limpar a base e poder reiniciar o processo</p>
										<button type="submit" id="button-del" class="btn btn-danger">Apagar a Base</button>
									</div>	
								</div>	
							</div>	
						</div>						
					</div>
				</div>
			</div>
		</form>

		<script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
			
		<script>
			/*
			* For demonstration porpuse, all JavaScript code was incorporated in
			* the HTML file. But when developing your application, your JavaScript code
			* should be in a separated file. Check this page for more information:
			* https://developer.yahoo.com/performance/rules.html#external
			*/

			$("#button-rel-person").click(function(e){
			e.preventDefault();
			window.location.href = '/relatorio/person';
			});

			$("#button-rel-customer").click(function(e){
			e.preventDefault();
			window.location.href = '/relatorio/customer';
			});

			$("#button-rel-SpecialOfferProduct").click(function(e){
			e.preventDefault();
			window.location.href = '/relatorio/specialofferproduct';
			});
			$("#button-rel-Product").click(function(e){
			e.preventDefault();
			window.location.href = '/relatorio/product';
			});
			$("#button-rel-SalesOrderHeader").click(function(e){
			e.preventDefault();
			window.location.href = '/relatorio/salesorderheader';
			});
			$("#button-rel-SalesOrderDetail").click(function(e){
			e.preventDefault();
			window.location.href = '/relatorio/salesorderdetail';
			});


			$("#button-send").click(sendFormData);

			function sendFormData(){
			
				// disable button
				$("#button-send").prop("disabled", true);
				// add spinner to button
				$("#button-send").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processando...');

				var formData = new FormData($("#form-demo").get(0));

				var ajaxUrl = "/arquivos/upload";

				$.ajax({
				  url : ajaxUrl,
				  type : "POST",
				  data : formData,
				  // both 'contentType' and 'processData' parameters are
				  // required so that all data are correctly transferred
				  contentType : false,
				  processData : false
				}).done(function(response){
				  // In this callback you get the AJAX response to check
				  // if everything is right...
				  	// disable button
					$("#button-send").prop("disabled", false);
					// add spinner to button
					$("#button-send").html('Enviar e Processar');
				  alert(response.retorno);
				}).fail(function(e){
				  	// disable button
					$("#button-send").prop("disabled", false);
					// add spinner to button
					$("#button-send").html('Enviar e Processar');
					// Here you should treat the http errors (e.g., 403, 404)
					alert('error:'+e);
				}).always(function() {

				});
		  }
		  
		  $("#button-del").click(sendFormDataDel);
				  
		  function sendFormDataDel(){
				// disable button
				$("#button-del").prop("disabled", true);
				// add spinner to button
				$("#button-del").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processando...');

			  var formData = new FormData($("#form-demo").get(0));
		  
			  var ajaxUrl = "/banco/apagar";
			  
			  $.ajax({
				  url : ajaxUrl,
				  type : "POST",
				  data : formData,
				  // both 'contentType' and 'processData' parameters are
				  // required so that all data are correctly transferred
				  contentType : false,
				  processData : false
			  }).done(function(response){
				  // In this callback you get the AJAX response to check
				  // if everything is right...
				  alert(response.retorno);
					// disable button
					$("#button-del").prop("disabled", false);
					// add spinner to button
					$("#button-del").html('Apagar a Base');
			  }).fail(function(e){
				  // Here you should treat the http errors (e.g., 403, 404)
				  alert('error:'+e);
			  });
		  }
		</script>
	</div>

</body>
</html>

